@media(max-width:768px) {

    .sidebar {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin: 10px;
    }

    .main-content {
        margin-left: 0;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .header-actions {
        width: 100%;
    }

    .header-actions button {
        flex: 1;
    }

}

.stats {
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width:768px) {

    .stats {
        grid-template-columns: 1fr;
    }

}

/* WATCHLIST MOBILE */

@media (max-width: 768px) {

    .add-coin {
        flex-direction: column;
    }

    .add-coin button {
        width: 100%;
    }

}

/* =========================
   PORTFOLIO MOBILE
========================= */

@media(max-width:768px) {

    .portfolio-buttons {
        flex-direction: column;
    }

}